.body{
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100vh;
}

form{
    justify-content: center;
    display: flex;
}

ul{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}