.body{
    position: absolute;
    z-index: 60;
    width: 100%;
}

input{
    position: fixed;
    width: 60%;
    text-align: center;
    margin-top: 7%;
    z-index: 7;
}

form{
    justify-content: center;
    display: flex;
    overflow: scroll;
    width: 100%;
    margin-top:20%;
}

.citiesList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22%;
}

.card{
    display: flex;
    justify-content: flex-start;
}

.homeIcon{
    position: fixed;
}
button.btn.btn-dark{
    margin: 2% 2% 2% 2%;
    padding: 2%;
}

.cityImage{
    width: 100%;
    max-height: 27vh;
}
.nameContainer{
    height: 1vh;
    position: absolute;
    width: 100%;
    color: white;
}
.errorMessage{
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
}