.body{
    position: absolute;
    z-index: 600;
    width: 100%;
}

input{
    position: fixed;
    width: 60%;
    text-align: center;
    margin-top: 7%;
}

form{
    justify-content: center;
    display: flex;
    overflow: scroll;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-left: -11%;
    margin-top: 22%;
}

li{
    list-style: none;
    padding: 2% 13%;
    margin-bottom: 5%;
}
.homeIcon{
    position: fixed;
}
button.btn.btn-dark{
    margin: 2% 2% 2% 2%;
}

.cityImage{
    width: 133%;
    margin-left: -16%;
    max-height: 25vh;
}
.nameContainer{
    height: 2vh;
}
.errorMessage{
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
}