
.formPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
    height: 83vh;
}
.body{
    position: absolute;
    z-index: 60;
    width: 100%;
}