.heartIcon{
    size: 50px;
    color: #ffffff ;
    position: absolute;
    z-index: 100;
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.heartFavourite{
    size: 50px;
    color: red;
    position: absolute;
    z-index: 100;
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.buttonC{
    width: 49%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}