.heartIcon{
    size: 60px;
    color: #ffffff ;
    position: absolute;
    z-index: 100;
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.heartFavourite{
    size: 60px;
    color: red;
    position: absolute;
    z-index: 100;
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.buttonC{
    width: 87%;
    height: 4vh;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}