.body{
    position: absolute;
    z-index: 60;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 35px;
}

.links{
    

    color: whitesmoke;

}

.imageContainer{
    display: flex;
    justify-content: center;
}

.cityChildComponent{
    display: flex;
    justify-content: center;
}
.accordion{
    margin-top: 15%;
    background-color: rgb(143, 0, 0);
    padding-bottom: 6%;
    
}
.accordion-heading{
    display: flex;
    justify-content: center;
}
.infoContainer{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 15px;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cityImage{
    width: 100%;
    max-height: 27vh;
}

.nameContainer{
    background: black;
    height: 3%;
    position: absolute;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
.accordionBody{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 6%;
}
.activityImage{
    width: 87%;
    height: 10vh;
}

.activityContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activityName{
    display: flex;
    justify-content: center;
    width: 87%;
}
